* {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: auto;
    height: auto;
}

img {
    border-radius: 15px;
}

.centralizacao {
    max-width: 1349px;
    position: absolute;
    top: 210px;
    color: white;
    left: 316px;
}

p {
    text-align: center;
    font-size: 100px;
    line-height: 150px;
}

.tecnology {
    width: 100px;
    height: 100px;
}

#html {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 75px;
    left: 168px;
}

#css {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 273px;
    left: 250px;
}

#javascript {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fbdb3c;
    border-radius: 80px;
    bottom: 398px;
    right: 422px;
}

.javascript {
    border-radius: 80px;
    width: 100px;
    height: 100px;
}

#react {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(32, 30, 30);
    border-radius: 80px;
    left: 416px;
    bottom: 400px;
}

#boodstrap {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 80px;
    bottom: 270px;
    right: 255px;
}

#nodejs {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #e5f0d8;
    border-radius: 80px;
    right: 625px;
    top: 70px;
}

#mongodb {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 80px;
    left: 1085px;
    bottom: 78px;
}

.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 1.6em;
    cursor: pointer;
    line-height: 1;
    margin: 20px;
    padding: 0.9em 2.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
}

.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}

.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.home {
    width: 1349px;
    height: 642px;
}

.div-image-home {
    text-align: center;
}

.flex-box {
    background-color: transparent;
    height: 50px;
    position: absolute;
    bottom: 560px;
    width: 900px;
    left: 208px;
}

.container-box {
    background-color: transparent;
    height: 50px;
    position: absolute;
    bottom: 530px;
    width: 900px;
    left: 266px;
}

.content-box {
    background-color: transparent;
    color: white;
    text-align: justify;
    max-width: 840px;
    position: relative;
    height: 35px;
}

.div-descricao {
    padding: 20px;
    padding-left: 60px;
    background-color: #4159a1;
    height: 440px;
    margin: 20px 0px;
    width: 1349px;
}

.perfil {
    width: 400px;
    height: 400px;
    display: inline-block;
}

.descricao {
    font-size: 60px;
    color: white;
    width: 700px;
    text-align: center;
}

.descricao-2 {
    font-size: 20px;
    color: white;
    text-align: justify;
    width: 700px;
    margin: 40px 15px;
    line-height: 40px;
}

.div-perfil {
    position: relative;
    left: 490px;
    bottom: 400px;
    width: 720px;
}

.div-tecnologias {
    width: 1349px;
    height: 500px;
    background-color: #4159a1;
    padding: 20px;
    margin: 20px 0px;
}

.div-tag-tecnologias {
    display: inline-block;
}

.tag {
    width: 250px;
    height: 130px;
    position: relative;
    top: 250px;
    right: 243px;
}

.tecnologia {
    width: 750px;
    height: 450px;
    display: inline-block;
    position: relative;
    left: 550px;
    bottom: 142px;
}

.title-tecnologico {
    display: inline-block;
    font-size: 60px;
    text-align: center;
    position: relative;
    left: 70px;
    top: 40px;
}

.div-projetos {
    width: 1349px;
    background-color: #4159a1;
    margin: 20px 0px 0px 0px;
    padding: 20px;
    height: 3440px;
}

.h1-projetos {
    width: 1310px;
    text-align: center;
    margin: 20px 0px;
}

h1 {
    font-size: 60px;
    color: white;
}

.Dev-previous {
    display: inline-block;
    width: 500px;
    height: 400px;
    position: relative;
    left: 750px;
    top: 250px;
}

#projeto-1 {
    width: 500px;
    height: 400px;
}

#Dev-previous {
    width: 50%;
    position: relative;
    left: 15px;
    bottom: 150px;
}

#Dev-prev {
    font-size: 45px;
    line-height: 15px;
    margin: 130px 0px 60px 0px;
    text-align: center;
    color: white;
}

#paragrafo-One {
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: white;
}


.projeto-2 {
    display: inline-block;
    width: 260px;
    position: relative;
    left: 865px;
    top: 260px;
}

#conversor {
    width: 260px;
    height: 550px;
}

#Dev-conversor {
    width: 50%;
    position: relative;
    left: 65px;
    bottom: 270px;
}

.Projeto-3 {
    display: inline-block;
    width: 260px;
    position: relative;
    left: 865px;
    top: 315px;
}

#Dev-Menu {
    width: 50%;
    position: relative;
    left: 65px;
    bottom: 180px;
}

#Menu {
    width: 260px;
    height: 548px;
}

.Div-shopping {
    width: 600px;
    height: 350px;
    position: relative;
    left: 670px;
    top: 430px;
}

#app-shopping {
    width: 600px;
    height: 350px;
}

#text-app-shopping {
    width: 500px;
    position: relative;
    top: 60px;
    left: 60px;
    color: white;
}

.orientation-buttons {
    display: inline-block;
    position: relative;
    top: 30px;
}

.links-projects {
    font-size: 15px;
    line-height: 24px;
    color: black;
    background-color: #ffffff;
    width: 105px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.links-projects:hover {
    opacity: 0.7;
    background: #ffffff;
    width: 120px;
    margin: auto auto;
    transition: 500ms;
}

footer {
    background-color: #040d12;
    width: 1349px;
    height: 130px;
}

.h2-footer {
    color: white;
    font-size: 15px;
    line-height: 30px;
    width: 36%;
    position: relative;
    top: 60px;
    left: 50px;
}

.buttons-footer {
    width: 492px;
    position: relative;
    top: 14px;
    left: 1010px;
    cursor: pointer;
}

.btn-four {
    color: white;
    padding: 10px;
    border-radius: 50px;
}

.btn-four:hover {
    opacity: 0.5;
}

#img-footer {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}